<h1 align = 'center'>Articles</h1>

<p align = 'center'>
    <%= link_to "Create new!", new_article_path, class: "btn btn-info btn-xl" %>
</p>

<div align = 'center'>
    <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>
   
<div align = 'center'>
    <%= will_paginate %>
</div>